* {
  font-family: "Lato", sans-serif;
}

/*Header element*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  overflow: hidden;
}

.mobile-header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*header logo*/
#logo-header {
  width: 100px;
  margin: 10px 0;
}

/*-----DROPDOWN BUTTONS------*/
/*Dropdown buttons div element*/
.desktop-menu {
  padding: 0 70px 0 25px;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #212b36;
  margin: 10px;
  font-size: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
  line-height: 16px;
  font-weight: 550;
  /* border: 2px solid blue; */
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #f4f4f4;
  height: 30px;
  border-radius: 20px;
}

.dropdown:not(:nth-child(5)) .dropbtn::after {
  content: url("./Images/down_arrowhead.svg");
  display: inline-block;
  vertical-align: middle; /*Align arrow to middle of line */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-weight: 550;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 13px;
  border-radius: 10px;
  padding: 10px 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #212b36;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f4f4f4;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*-----SEARCH BAR-----*/
/* Style for desktop/laptop */
.search-bar {
  display: block;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px;
  width: 280px;
  height: 27px;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding-left: 8px;
}

.search-box input[type="text"]::placeholder {
  color: #0b0b0b;
  font-size: 11.5px;
  font-weight: 400;
}

.search-box button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#magnifyingGlassIcon {
  width: 13px;
  padding-left: 10px;
}

#microphoneIcon {
  width: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/*------ HEADER RIGHT-HAND SIDE BUTTONS------*/

.right-hand-side-buttons {
  display: flex;
  margin-left: 10px;
}

#findUsButton,
#saveButton,
#logInButton,
#callButton,
#magnifyingGlassIconBlack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 9px;
}

#findUsButton,
#saveButton,
#logInButton,
#callButton {
  width: 50px;
}

#findUsIcon,
#saveIcon,
#logInIcon {
  width: 20px;
  display: block;
}

#findUsIcon {
  margin: 3px 4.5px;
}

#saveIcon,
#logInIcon  {
  margin: 6px 2px;

}

#callIcon {
  display: none;
  width: 20px;
}

#magnifyingGlassIconBlackImg {
  display: none;
  width: 20px;
}

a {
  text-decoration: none;
  color: #212b36;
}

/*-----HAMBURGUER MENU-------*/

/* Default styles for the mobile menu */
.mobile-menu {
  display: none;
  list-style: none;
  margin-top: 80px;
  position: fixed;
}

/* Show the mobile menu when the 'show' class is added */
.mobile-menu.show {
  display: block;
  margin-left: -8%;
  margin-top: 250px;
  padding: 0;
}

/* Styles for the mobile menu toggle button */
.mobile-menu-toggle {
  display: none;
  margin: 0 20px 0 10px;
  width: 25px;
}

.mobilebtn {
  z-index: 99999;
  background-color: #f2f2f2;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  width: 100%;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mobilebtn:hover {
  background-color: white;
}

/* Show the mobile menu toggle button when the screen is less than 768px wide */
@media (max-width: 768px) {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo-header {
    width: 115px;
    margin: 15px 0 0 -5px;
  }

  .mobile-menu-toggle,
  #callIcon,
  #magnifyingGlassIconBlackImg {
    display: block;
  }

  #magnifyingGlassIconBlackImg {
    width: 25px;
    margin: 10px 2px
  }

  #saveIcon, #logInIcon, #callIcon {
    width: 25px;
  }

#saveButton, #logInButton, #callButton {
  width: 30px;
  }

  #findUsButton,
  .desktop-menu,
  .search-bar,
  .right-hand-side-button-text {
    display: none;
  }
}

/*END of the header element*/
/*main element*/

/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

